# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ChessEngine/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.log
*.lastbuildstate
*.tlog
*.idb
*.pdb
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
.vs/ChessEngine/FileContentIndex/5adbcf04-9d90-418a-9361-3d6318549896.vsidx
.vs/ChessEngine/FileContentIndex/read.lock
.vs/ChessEngine/FileContentIndex/71fd46b3-83f6-4333-ad7e-87a57f3fbab6.vsidx
.vs/ChessEngine/FileContentIndex/164b6adb-cf60-46d3-b5a4-d1c965b03a58.vsidx
.vs/ChessEngine/FileContentIndex/cfd4c78d-cde2-4b14-bbda-98e253835428.vsidx
